html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main {
    flex-grow: 1;
  }
}

.container {
  min-width: 90vw;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

header {
  border-bottom: 1px solid var(--border-color);

  .container > div {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

footer {
  border-top: 1px solid var(--border-color);

  .container > div {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    align-items: center;
  }

  p {
    color: var(--text-color);
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

a {
  color: var(--text-color);
  text-decoration: none;

  &:hover {
    color: var(--primary-color);
  }
}
