div.main {
  div.container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    > div {
      gap: 2rem;
    }
  }
  aside {
    outline: red solid 1px;
    width: 20%;
    flex-shrink: 0;
  }
  main {
    outline: blue solid 1px;
    flex: 1 1 0%;
  }
}
