html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

a {
  color: var(--text-color);
  text-decoration: none;

  &:hover {
    color: var(--primary-color);
  }
}

@media (min-width: 576px) {
  .container {
    padding: 0 24px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
