.books-title {
  margin-bottom: 32px;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: var(--header-color);
}

.books-categories {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;

  .category {
    padding: 8px 16px;
    border-radius: 24px;
    border: none;
    background: none;
    cursor: pointer;

    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: var(--text-color);

    &.active {
      background-color: var(--primary-color);
      color: #fff;
    }
  }
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(256px, 1fr));
  column-gap: 24px;
  row-gap: 40px;
}

.book-card {
  .cover {
    aspect-ratio: 1 / 1;
    background-color: #e5e7eb;
    border-radius: 8px;
    margin-bottom: 12px;
  }

  .title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: var(--header-color);
  }

  .author {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: var(--text-color);
  }

  .price {
    margin-top: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: var(--primary-color);
  }
}
