div.main {
  .container {
    padding-top: 2rem;
    padding-bottom: 2rem;

    > div {
      display: flex;
      gap: 2rem;
      align-items: flex-start;
    }
  }

  aside {
    width: 20%;
    flex-shrink: 0;

    h3 {
      margin: 0;
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 1.75rem;
      color: var(--header-color);
    }

    nav {
      margin-top: 1.5rem;

      a {
        padding: 0.5rem 0.75rem;
        border-radius: 0.5rem;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.75rem;
        color: var(--text-color);

        &.active {
          background-color: var(--primary-color);
          color: #fff;
        }
      }
    }
  }

  main {
    flex: 1 1 0%;
    min-width: 0;
  }
}
